body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: rgb(193, 240, 224);
}
h2{
    font-weight: bolder;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.box{
    height: fit-content;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    font-weight: bolder;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-top{
    border-top: 10px solid rgb(196, 162, 11);
    background-color: rgb(236, 236, 144);
}
.border-bottom{
    border-bottom: 10px solid red;
    background-color: rgb(236, 137, 137);
}
.border-right{
    border-right: 10px solid blue ;
    background-color: rgb(129, 129, 236);
}
.border-left{
    border-left: 10px solid rgb(95, 5, 80);
    background-color: rgb(119, 71, 119);
}
.hover-box{
    height: 200px;
    width: 500px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.4s ease,
    transform 0.4s ease,
    width 0.4s ease,
    font-size 0.4s ease,
    color 3s ease ;
}
.hover-box:hover{
    background-color: tomato;
    width: 350px;
    color: darkmagenta;
    font-size: 5rem;
    transform: translateX(20px) scale(1.1);
}
a{
    font-size: 50px;
    color: blue;
    text-decoration: none;
}
a:visited{
    color:purple;
}
a:active{
    color: red;
}
a:hover{
    text-decoration: underline;
    background-color: rgb(243, 190, 155);
}