body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: rgb(193, 240, 224);
}
h2{
    font-weight: bolder;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.box{
    height: fit-content;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    font-weight: bolder;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-top{
    border-top: 10px solid rgb(196, 162, 11);
    background-color: rgb(236, 236, 144);
}
.border-bottom{
    border-bottom: 10px solid red;
    background-color: rgb(236, 137, 137);
}
.border-right{
    border-right: 10px solid blue ;
    background-color: rgb(129, 129, 236);
}
.border-left{
    border-left: 10px solid rgb(95, 5, 80);
    background-color: rgb(119, 71, 119);
}
/* hover effect */
.hover-box{
    height: 200px;
    width: 500px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.4s ease,
    transform 0.4s ease,
    width 0.4s ease,
    font-size 0.4s ease,
    color 3s ease ;
}
.hover-box:hover{
    background-color: tomato;
    width: 350px;
    color: darkmagenta;
    font-size: 5rem;
    transform: translateX(20px) scale(1.1);
}
/* anchor tag */
a{
    font-size: 50px;
    color: blue;
    text-decoration: none;
}
a:visited{
    color:purple;
}
a:active{
    color: red;
}
a:hover{
    text-decoration: underline;
    background-color: rgb(243, 190, 155);
}
/* section color change */
 section {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 8px;
}
.pseudo-heading::before {
    content: "★ ";
    color: orange;
}
.pseudo-heading::after {
    content: " ★";
    color: orange;
}

.pseudo{
    font-size: 18px;
    line-height: 1.6;
}
.pseudo::first-letter {
    font-size: 40px;
    font-weight: bold;
    color: darkblue;
}
.pseudo::first-line {
    color: green;
}
.pseudo::selection {
    background-color: red;
    color: white;
}

li::before {
    content: "✔ ";
    color: green;
    font-weight: bold;
}
/* task 5 */

/* inline */
.inline {
  display: inline;
  background-color: lightblue;
}

/* none */
.none {
  display: none;
}

/* inline block */
.inline-block {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: lightgreen;
  margin: 50px;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  padding: 60px;
  border-radius: 10px ;
}

/* flex */
.flex-container {
  display: flex;
  gap: 10x;
  background-color: #736cdb;
  padding: 50px;
}

.flex-container div {
  background-color: salmon;
  padding: 10px;
  width: 400px;
  height: 50px ;
  border-radius: 20px; 
  margin-right: 10px;
}
/* grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  background-color: #ccc;
  padding: 10px;
}

.grid-container div {
  background-color: rgb(238, 193, 71);
  padding: 10px;
  height: 50px;
  border-radius: 20px; 
}
/* position demo */
.position-demo {
  padding: 15px;
  border: 2px solid #000;
  margin-top: 40px;
}
.position-demo h2{
    color: black;
}

/* RELATIVE */
.relative-box {
  position: relative;
  width: 250px;
  height: 50px;
  background-color: lightblue;
  padding: 30px;
  margin-bottom: 40px;
}

/* ABSOLUTE */
.absolute-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: tomato;
  color: white;
  padding: 5px;
}

/* FIXED */
.fixed-text {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  padding: 8px;
  font-size: 14px;
}

/* STICKY */
.sticky-text {
  position: sticky;
  top: 0;
  background-color: rgb(243, 216, 66);
  padding: 50px;
  font-weight: bold;
}

/* SCROLL CONTENT */
.scroll-content {
  height: 200px;
  overflow: auto;

}
/* 7 */
.overflow-demo {
  margin-top: 30px;
}
.image-list{
    color: darkmagenta;
}

/* COMMON BOX STYLE */
.box1 {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 20px;
  display: inline-block;
  text-align: center;
  
}
.all-images{
    display: flex;
    gap: 80px;
}
.box1 p{
    font-size: larger;
    font-weight: bolder;
}
/* IMAGE STYLE */
.box1 img {
  width: 100%;
  transition: transform 0.5s ease;
}

/* ZOOM EFFECT */
.box1:hover img {
  transform: scale(1.4);
}

/* OVERFLOW TYPES */
.visible {
  overflow: visible;
}

.hidden {
  overflow: hidden;
}

.auto {
  overflow: auto;
}
                        /* 8 */

 /* Unordered list with square bullets */
.square-list {
    list-style-type: square;
}

/* Ordered list with Roman numerals */
.roman-list {
    list-style-type: upper-roman;
    }

/* List with bullets inside the content box */
.inside-list {
    list-style-position: inside;
    }

/* List using an image as bullet */
.image-list {
    list-style-image: url("p11.jpg"); 
}
/* 9 */
.image-effect{
    font-size: xx-large;
    color: maroon;
}
.heading-image{
    color: rgb(136, 8, 19);
}

.image-section {
    display: flex;
    gap: 80px;
    justify-content: center;
    }
.image-section img {
    width: 250px;
    height: 150px;
    border: 2px solid black;
    }
/* Hide image on hover */
.image-section img:hover {
    visibility: hidden;
    }