body{
    display: flex;
    flex-direction: column;  
    gap: 20px; 
}
.box-model{
    background-color: thistle;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
    padding: 5px;
    margin: auto;
    height: 70px;
    width: 1200px;
    border: 5px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding:20px;
    width: auto;
}
.grid-item{
    background-color: cadetblue;
    color: black;
    padding: 15px;
    border: 2px solid black;
    border-radius: 2px;
    width: 200px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
.navbar {
  list-style: none;
  display: flex;
  background: #333;
  padding: 0;
  margin: 0;
  font-size: larger;
  justify-content: center;
}

.navbar li a {
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
}
.card{
    width: 300px;
    border: 4px solid black;
    border-radius: 40px;
    overflow: hidden;
    background-color: rgb(224, 203, 150);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.card-content{
    padding: 15px;
}
.card-content h3{
    margin-bottom: 20px;
    font: 20px;
}
.card-content p{
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-content button{
    background-color: blue;
    color: white;
    border-radius: 3px;
    border: 1 px solid black ;
    cursor: pointer;
    font-size: 15px;
    padding: 10px ;
}
.card-content button:hover{
    background-color: crimson;
}
/* Main menu */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #333;
  width: 150px;
}

.menu > li {
  color: white;
  padding: 12px;
  position: relative;
  cursor: pointer;
}

.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background: #555;
  display: none;
  width: 150px;
}

.dropdown li a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown li a:hover {
  background: #777;
}

.menu li:hover .dropdown {
  display: block;
}

header, nav, section, footer {
  padding: 10px;
  margin: 5px;
  background-color: #887bd1;
  display: flex;
  justify-content: center;
  font-size: xx-large;

}

.loader{
    height: 10px;
    width: 10px;
    border: 1 px solid black;
    border-radius: 1px;
    justify-content: center;
    display: flex;
    margin-left: 80px;
    animation: spin 1s linear infinite;

}
@keyframes spin{
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}
.pagination a {
  padding: 8px 12px;
  border: 7px solid #333;
  text-decoration: none;
}
.flex {
  display: flex;
  gap: 10px;
}

.flex div {
  background: orange;
  padding: 20px;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: aquamarine;
  width: 500px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: xx-large;
}
.tooltip {
  position: relative;
  font-size: xx-large;
  font-weight: bolder;
}

.tooltiptext {
  visibility: hidden;
  background: rgb(245, 154, 154);
  color: rgb(8, 8, 0);
  padding: 5px;
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


